*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  font-size: 2rem;
  min-height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
  color: white;
}

.darkWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
.main__lightButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  border: none;
  background: white;
  aspect-ratio: 1/1;
  z-index: 20;
  box-shadow: 0 0 10rem 0 white;
  transition: all 0.2s;
}
.main__lightButton:hover {
  cursor: pointer;
  transform: translate(-50%, -60%);
  box-shadow: 0 0 15rem 2rem white;
}
.main__lightButton:active {
  transition: none;
}

* a:hover {
  background: rgba(255, 255, 255, 0.067);
}

.header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  gap: 6rem;
}
.header__language {
  margin-left: 4rem;
  color: white;
  text-decoration: none;
}
.header__buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6rem;
}
.header__buttonWrapper--mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: black;
  color: white;
}
.header__button {
  text-decoration: none;
  color: white;
}
.header__button--active {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
}
.header__button--active::after {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: white;
}
.header__button:last-child {
  border: 0.2rem solid white;
  border-bottom-right-radius: 1.5rem;
  padding: 1rem 2.5rem;
}
.header__menu {
  background: none;
  border: none;
  color: white;
  font-size: 4rem;
  display: none;
  z-index: 2;
}
.header__menu:hover {
  cursor: pointer;
}
.header__mobileWrapper {
  display: none;
}
.header__buttonWrapper--mobile {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: 4rem;
  background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
}

.banner {
  display: flex;
  flex-direction: column;
  padding-left: 20rem;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 1rem;
  position: relative;
}
.banner__title {
  font-size: 300%;
}
.banner__button {
  border: 0.2rem solid white;
  padding: 1rem 2.5rem;
  color: white;
  text-decoration: none;
}
.banner__button--left {
  border-top-left-radius: 1.5rem;
}
.banner__button--right {
  border-bottom-right-radius: 1.5rem;
}
.banner__buttonWrapper {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.banner__downScroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.banner__downScrollArrow {
  font-size: 5rem;
}

.skills {
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.skills__title {
  font-size: 250%;
}
.skills__skills {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills__skill {
  width: 70rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 0.2rem solid rgba(0, 0, 0, 0.05);
  box-shadow: 2rem 0rem 2rem 2rem rgba(0, 0, 0, 0.08);
}
.skills__skillTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skills__skillImg {
  width: 10rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.skills__skillName {
  font-size: 3rem;
}
.skills__skillInfo {
  line-height: 1.4;
}

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.about__imgContainer {
  width: 45rem;
  aspect-ratio: 1/1.5;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__text {
  align-self: flex-start;
  height: 100%;
  width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  gap: 2rem;
}
.about__textTitle {
  align-self: flex-start;
  font-size: 200%;
}
.about__textDescription {
  padding-left: 1rem;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main--projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
}
.projectsTitle {
  font-size: 200%;
}
.projects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 1rem;
  border-radius: 5rem;
  height: 100%;
}
.projects__project {
  list-style: none;
  width: 100%;
  height: 30rem;
  transition: 1s;
  opacity: 0;
  transform: translateY(10rem);
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.projects__project--visible {
  opacity: 1;
  transform: translateY(0rem);
}
.projects__projectCard {
  background: white;
  color: black;
  height: 25rem;
  list-style: none;
  display: flex;
  flex-shrink: 1;
  padding: 1rem;
  border-radius: 0.2rem;
}
.projects__projectDate {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects__projectDate--right {
  justify-content: flex-end;
}
.projects__projectContent {
  width: 50%;
  height: 100%;
}

.projectCard__leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}
.projectCard__infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projectCard__skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  gap: 1rem;
}
.projectCard__skill {
  border: 0.2rem solid rgb(189, 189, 189);
  height: 4rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  color: rgb(189, 189, 189);
}
.projectCard__info {
  padding-left: 1rem;
}
.projectCard__buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.projectCard__buttonWrapperGradient {
  padding: 0.2rem 0.2rem;
  background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
  border-radius: 0.2rem;
}
.projectCard__buttonWrapperGradient:hover .projectCard__seeMore {
  background: rgba(255, 255, 255, 0.067);
  color: white;
}
.projectCard__seeMore {
  background: none;
  border: none;
  color: black;
  background: white;
  font-size: 2rem;
  padding: 0.5rem 1.2rem;
  transition: all 0.3s ease-in;
}
.projectCard__seeMore:hover {
  cursor: pointer;
}
.projectCard__figure {
  height: 100%;
  width: 40%;
  position: relative;
  padding-left: 1rem;
}
.projectCard__figureImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectCard__Date::after {
  content: "";
  width: 3rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.projectsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 6rem;
  display: none;
}
.projectsCardItem {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  color: black;
  background: white;
  padding: 4rem;
}
.projectsCard__leftWrapper {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.projectsCard__textWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1.5rem;
}
.projectsCard__title {
  font-size: 400%;
  font-weight: 200;
}
.projectsCard__description {
  line-height: 1.6;
}
.projectsCard__return {
  background: none;
  font-size: 2rem;
  border: none;
  transition: all 0.2s;
  align-self: flex-start;
  padding-left: 1.5rem;
}
.projectsCard__return:hover {
  cursor: pointer;
  color: red;
}
.projectsCard__links {
  width: 80%;
  height: 8rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.projectsCard__link {
  width: 8rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid black;
  border-radius: 0.2rem;
}
.projectsCard__link:nth-of-type(1) {
  animation-delay: 1.4s;
}
.projectsCard__link:nth-of-type(2) {
  animation-delay: 1.6s;
}
.projectsCard__link:nth-of-type(3) {
  animation-delay: 1.8s;
}
.projectsCard__linkItem {
  font-size: 5rem;
  color: black;
  transition: all 0.3s;
}
.projectsCard__link:hover {
  background: black;
  cursor: pointer;
}
.projectsCard__link:hover .projectsCard__linkItem {
  color: white;
}
.projectsCard__rightWrapper {
  width: 45%;
  height: 100%;
}
.projectsCard__figure {
  width: 100%;
  height: 50%;
}
.projectsCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectsCard__close {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  border: 0.2rem solid white;
  width: 8rem;
  font-size: 2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transform: translate(50%, -50%);
  transition: all 0.4s;
}
.projectsCard__close:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  color: red;
}

.contact__card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: black;
}
.contact__card--2 {
  background: rgb(30, 30, 30);
}
.contact__textWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  color: white;
  font-size: 6rem;
}
.contact__text {
  font-size: 6rem;
  color: white;
  text-decoration: none;
}
.contact__textDescription {
  font-size: 2rem;
}

.footer {
  width: 100%;
  height: 15rem;
}

@media screen and (max-width: 112.5rem) {
  .projects {
    width: 80%;
  }
}
@media screen and (max-width: 93.75rem) {
  .about__container {
    gap: 6rem;
  }
  .about__imgContainer {
    width: 35rem;
  }
  .about__text {
    padding-top: 0rem;
  }
  .projects {
    width: 95%;
  }
  .projects__project {
    height: 35rem;
    gap: 8rem;
  }
  .projects__projectCard {
    height: 30rem;
  }
}
@media screen and (max-width: 81.25rem) {
  .banner {
    padding-left: 10rem;
  }
  .about__container {
    gap: 0rem;
  }
  .about__imgContainer {
    width: 30rem;
  }
  .about__text {
    height: 100%;
    width: 70rem;
    transform: scale(90%);
  }
  .about__textTitle {
    font-size: 200%;
  }
  .about__textDescription {
    padding-left: 1rem;
  }
  .projectsCard {
    height: 100%;
  }
}
@media screen and (max-width: 68.75rem) {
  .skills {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .skills__skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .skills__skill {
    width: 90rem;
    height: 100%;
    flex-direction: column;
    padding: 4rem;
  }
  .about__container {
    gap: 6rem;
    flex-direction: column-reverse;
    padding: 10rem;
  }
  .about__imgContainer {
    width: 50%;
    align-self: flex-start;
    padding-left: 1rem;
  }
  .about__text {
    width: 100%;
    transform: none;
  }
  .projects {
    width: 90%;
  }
  .projects::after {
    left: 0%;
  }
  .projects__project {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .projects__project--right {
    flex-direction: row;
    justify-content: flex-start;
  }
  .projects__projectDate {
    width: 10%;
    margin-left: 2rem;
  }
  .projects__projectDate--right {
    justify-content: normal;
  }
  .projects__projectContent {
    width: 90%;
    height: 100%;
  }
  .projectCard__Date::after {
    left: 0%;
  }
  .projectsCardItem {
    flex-direction: column;
  }
  .projectsCard__leftWrapper {
    width: 100%;
    gap: 6rem;
    padding-bottom: 6rem;
  }
  .projectsCard__textWrapper {
    width: 100%;
  }
  .projectsCard__rightWrapper {
    width: 100%;
    height: 100%;
  }
  .projectsCard__figure {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 50rem) {
  .banner {
    padding-left: 4rem;
    align-items: flex-start;
  }
  .header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    padding-right: 4rem;
    gap: 6rem;
  }
  .header__buttonWrapper {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .about__container {
    padding: 4rem;
  }
  .about__imgContainer {
    width: 70%;
  }
  .projects {
    gap: 4rem;
  }
  .projects__project {
    height: 50rem;
  }
  .projects__projectCard {
    flex-direction: column-reverse;
    height: 50rem;
    justify-content: center;
    gap: 2rem;
  }
  .projectCard__leftWrapper {
    width: 100%;
    height: 100%;
  }
  .projectCard__infoWrapper {
    height: 100%;
  }
  .projectCard__info {
    height: 100%;
  }
  .projectCard__buttonWrapper {
    width: 100%;
    justify-content: flex-end;
    margin: 0 0 1rem -1rem;
  }
  .projectCard__figure {
    width: 100%;
    height: 40%;
    padding: 0;
  }
  .contact__text {
    font-size: 4rem;
  }
  .contact__textDescription {
    font-size: 2rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .banner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner__title {
    font-size: 200%;
  }
  .skills {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about__container {
    padding: 4rem;
  }
  .about__imgContainer {
    width: 100%;
  }
  .projects {
    gap: 4rem;
  }
  .projects__project {
    height: 100%;
  }
  .projects__projectDate {
    width: 0%;
  }
  .projects__projectContent {
    width: 100%;
  }
  .projects__projectCard {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .projectCard__leftWrapper {
    width: 100%;
    height: 100%;
    gap: 4rem;
  }
  .projectCard__infoWrapper {
    height: 100%;
  }
  .projectCard__Date {
    font-size: 0;
  }
  .projectCard__info {
    height: 100%;
  }
  .projectCard__buttonWrapper {
    width: 100%;
    justify-content: flex-end;
    margin: 0 0 1rem -1rem;
  }
  .projectsCard {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }
  .projectsCard__leftWrapper {
    gap: 2rem;
  }
  .projectsCard__title {
    font-size: 200%;
  }
  .projectsCard__textWrapper {
    padding-left: 0;
  }
  .projectsCard__return {
    padding-left: 0;
  }
  .projectsCard__links {
    padding-left: 0rem;
  }
  .projectsCard__close {
    width: 7rem;
  }
  .contact__text {
    font-size: 3rem;
  }
  .contact__textDescription {
    font-size: 2rem;
  }
}
@media screen and (max-width: 28.125rem) {
  .projectsCard {
    padding: 0;
  }
  .projectsCard__close {
    border: none;
    transform: translate(0%, 0%);
    background: none;
  }
}

/*# sourceMappingURL=style.css.map */
