.banner{
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    justify-content: center;
    width: 100%;
    height: 80vh;
    gap: 1rem;
    position: relative;
    animation-name: popup;
    animation-duration: 1s;
    animation-fill-mode: backwards;

    &__title{
        font-size: 300%;
    }

    &__text{

    }

    &__button{
        border: 0.2rem solid white;
        padding: 1rem 2.5rem;
        color: white;
        text-decoration: none;
        animation-name: popup;
        animation-duration: 1s;
        animation-fill-mode: backwards;

        &--left{
            border-top-left-radius: 1.5rem;
            animation-delay: 0.2s;
        }

        &--right{
            border-bottom-right-radius: 1.5rem;
            animation-delay: 0.4s;
        }
    }

    &__buttonWrapper{
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
    }

    &__downScroll{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &Text{
            animation-name: popup;
            animation-duration: 1s;
            animation-delay: 0.4s;
            animation-fill-mode: backwards;  
        }

        &Arrow{
            font-size: 5rem;
            animation-name: popup;
            animation-duration: 1s;
            animation-delay: 0.6s;
            animation-fill-mode: backwards;
        }
    }
}