@media screen and (max-width: 112.5rem){ // max width 1800px
    // portfolio
    .projects{
        width: 80%;

    }

    
}

@media screen and (max-width: 93.75rem){ // max width 1500px
    //about

    .about{
    
        &__container{
            gap: 6rem;
        }
    
        &__imgContainer{
            width: 35rem;
        }
    
        &__text{
            padding-top: 0rem;
        }
    }

    // portfolio
    .projects{
        width: 95%;

        &__project{
            height: 35rem;
            gap: 8rem;
        }

        &__projectCard{
            height: 30rem;
         }
    }

}

@media screen and (max-width: 81.25rem){ // max width 1300px
    // homepage
    .banner{
        padding-left: 10rem;
    }

    //about

    .about{
    
        &__container{
            gap: 0rem;
        }
    
        &__imgContainer{
            width: 30rem;
        }
    
        &__text{
            height: 100%;
            width: 70rem;
            transform: scale(90%);
    
            &Title{
                font-size: 200%;
            }
    
            &Description{
                padding-left: 1rem;
            }
        }
    }

    // portfolio
    .projects{
        &Card{
            height: 100%;
        }

    }
}

@media screen and (max-width: 68.75rem){ // max width 1100px
    // homepage
    .skills{
        padding-left: 10rem;
        padding-right: 10rem;
    
    
        &__skills{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
        }
        &__skill{
            width: 90rem;
            height: 100%;
            flex-direction: column;
            padding: 4rem;
        }
    }

    //about

    .about{
    
        &__container{
            gap: 6rem;
            flex-direction: column-reverse;
            padding: 10rem;
        }
    
        &__imgContainer{
            width: 50%;
            align-self: flex-start;
            padding-left: 1rem;
        }
    
        &__text{
            width: 100%;
            transform: none;
        }
    }

    // portfolio

    .projects{
        width: 90%;

        &::after{
            left: 0%;
        }
        
        &__project{            
            flex-direction: row-reverse;
            justify-content: flex-end;

            &--right{
                flex-direction: row;
                justify-content: flex-start;

            }
        }
    
        &__projectDate{
            width: 10%;
            margin-left: 2rem;

            &--right{
                justify-content: normal;
            }
        }
    
        &__projectContent{
            width: 90%;
            height: 100%;
        }
    }
    
    .projectCard{
        &__Date{
            &::after{
                left: 0%;
            }
        }
    }   

    // project modal
    .projects{  

        &Card{  
            
    
            &Item{
                flex-direction: column;
            }

            &__leftWrapper{
                width: 100%;
                gap: 6rem;
                padding-bottom: 6rem;
                
            }
    
            &__textWrapper{
                width: 100%;
            }
    
            &__rightWrapper{
                width: 100%;
                height: 100%;
            }
    
            &__figure{
                width: 100%;
                height: 100%;
            }
        }

        
    }

}


@media screen and (max-width: 50rem){ // max width 800px
    // homepage
    .banner{
        padding-left: 4rem;
        align-items: flex-start;
    }

    .header{
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        padding-right: 4rem;
        gap: 6rem;

        &__buttonWrapper{
            display: none;
        }
    
        &__menu{
            display: flex;
        }
    }

    //about

    .about{
    
        &__container{
            padding: 4rem;
        }
    
        &__imgContainer{
            width: 70%;
        }
    }

    // portfolio

    .projects{
        gap: 4rem;

        &__project{
            height: 50rem;
        }
    }

    .projects__projectCard{
        flex-direction: column-reverse;
        height: 50rem;
        justify-content: center;
        gap: 2rem;
    }

    .projectCard{
    
        &__leftWrapper{
            width: 100%;
            height: 100%;
        }
    
        &__infoWrapper{
            height: 100%;
                  
        }
    
        &__info{
            height: 100%;
        }
    
        &__buttonWrapper{
            width: 100%;
            justify-content: flex-end;
            margin: 0 0 1rem -1rem;
        }   
    
        &__figure{
            width: 100%;
            height: 40%;
            padding: 0;
        }

    }

    // contact

    .contact{
        &__text{
            font-size: 4rem;
            &Description{
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 37.5rem){ // max width 600px
    // homepage
    .skills{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    //about

    .about{
    
        &__container{
            padding: 4rem;
        }
    
        &__imgContainer{
            width: 100%;
        }
    }

    // portfolio

    .projects{
        gap: 4rem;

        &__project{
            height: 100%;
        }

        &__projectDate{
            width: 0%;
        }
    
        &__projectContent{
            width: 100%;
        }
    }
    
    .projects__projectCard{
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
        gap: 2rem;
    }

    .projectCard{
    
        &__leftWrapper{
            width: 100%;
            height: 100%;
            gap: 4rem;
        }
    
        &__infoWrapper{
            height: 100%;
                  
        }

        &__Date{
            font-size: 0;
        }
    
        &__info{
            height: 100%;
        }
    
        &__buttonWrapper{
            width: 100%;
            justify-content: flex-end;
            margin: 0 0 1rem -1rem;
        }   
        
    }

    // project modal
    .projects{  

        &Card{  
            padding-left: 4rem;
            padding-right: 4rem;
            padding-top: 4rem;      
            
            &__leftWrapper{
                gap: 2rem;
            }
            
            &__title{
                font-size: 200%;
            }

            &__textWrapper{
                padding-left: 0;
            }
    
            &__return{
                padding-left: 0;
            }
    
            &__links{
                padding-left: 0rem;
            }

            &__close{
                width: 7rem;
            }
        }
    }
    

    // contact

    .contact{
        &__text{
            font-size: 3rem;
            &Description{
                font-size: 2rem;
            }
        }
    }
    
}