.header{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
    gap: 6rem;

    &__language{
        margin-left: 4rem;
        color: white;
        text-decoration: none;
    }

    &__buttonWrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6rem;

        &--mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;
            background: black;
            color: white;
        }
    }
    
    &__button{
        text-decoration: none;
        color: white;

        &--active{
            position: relative;
            color: rgba(255, 255, 255, 0.85);
            &::after{
                content: "";
                position: absolute;
                bottom: -2%;
                left: 0;
                width: 100%;
                height: 0.2rem;
                background: white;
            }
        }

        &:last-child{
            border: 0.2rem solid white;
            border-bottom-right-radius: 1.5rem;
            padding: 1rem 2.5rem;
        }
    }
    
    &__menu{
        background: none;
        border: none;
        color: white;
        font-size: 4rem;
        display: none;
        z-index: 2;

        &:hover{
            cursor: pointer;
        }
    }


    // mobile buttons

    &__mobileWrapper{
        display: none;
    }

    &__mobileButton{
    }

}

.header__buttonWrapper--mobile{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 4rem;
    background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
}