body{
    font-size: 2rem;
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
    color: white;
}

.main{
    
}

*a:hover{
    background: rgba(255, 255, 255, 0.067);
}