body{
    font-size: 2rem;
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(120deg, rgb(248, 114, 114), rgb(248, 141, 114));
    color: white;
}

.bodyDark{
    // overflow: hidden;
}

.darkWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 12rem;
    padding-top: 8rem;

    &__lightButton{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        border: none;
        background: white;
        aspect-ratio: 1/1;
        z-index: 20;
        box-shadow: 0 0 10rem 0 white;
        transition: all 0.2s;

        &:hover{
            cursor: pointer;
            transform: translate(-50%, -60%);
            box-shadow: 0 0 15rem 2rem white;
        }

        &:active{
            transition: none;
        }
    }
}

*a:hover{
    background: rgba(255, 255, 255, 0.067);
}

